@import "../../../variables.scss";
$theme-color: $default-theme-color;
$theme-color-opacity: $default-theme-color-opacity;

.sidebar {
  height: 100%;
  width: 4rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  background-color: $theme-color;
  box-sizing: border-box;
  color: white;
  align-items: center;

  .stack {
    display: flex;
    flex-direction: column;
  }

  .top-stack {
    flex: 1;
  }

  button {
    margin-top: 0.5rem;
    padding: 0.3rem;
    background-color: transparent;

    &:hover {
      background-color: white;
      color: $theme-color;
    }

    .sidebar-icon {
      font-size: 2rem;
      height: 2rem;
      width: 2rem;
    }
  }

  #userBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    min-width: 40px;
    align-items: center;
    display: flex;
    justify-content: center;

    .loggedUserAvatar {
      width: 36px;
      height: 36px;
      border-radius: 50%; 
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .logo {
    img {
      width: 2rem;
      height: 2rem;
    }
  }

}
