<div class="tripList">
  <div class="newTrip" (click)="openAddTripDialog()"><mat-icon class="addTripIcon">add</mat-icon></div>
  <div class="tripElement" *ngFor="let trip of trips"
       (click)="onSelect(trip)">
    <div class="tripThumbnail">
      <img *ngIf="trip.coverPhoto; else noTripCover" src="{{trip.coverPhoto}}" alt="{{trip.name}}"/>
      <ng-template #noTripCover><img src="assets/img/thumbnail.svg" alt="{{trip.name}}"/></ng-template>
    </div>
    <div class="tripInfo">
      <div class="tripName">{{trip.name | titlecase}}</div>
      <div class="tripCreatedDate">Created at: {{trip.createdDate | date:"short"}}</div>
    </div>
  </div>
</div>

