<div class="tripDetailContainer">
  <div>
    <button mat-flat-button class="backBtn" (click)="goBack()"><mat-icon class="backIcon">reply</mat-icon>Back</button>
  </div>
  <div class="container">
    <section *ngIf="(trip$ | async) as trip" class="leftContainer">
      <div class="tripName">{{trip.name}}</div>
      <div class="tripLastModified">Last modified at {{trip.lastModified | date: "short"}}</div>
      <div class="tripPhoto">
        <img *ngIf="trip.coverPhoto; else noTripCover" src="{{trip.coverPhoto}}" alt="{{trip.name}}"/>
        <ng-template #noTripCover><img src="assets/img/thumbnail.svg" alt="{{trip.name}}"/></ng-template>
      </div>
      <div class="tripParticipants">
        <div class="participant" *ngFor="let participant of participants$ | async; let idx = index" [ngStyle]="{'transform': 'translateX(' + (3 * idx) + 'rem)'}">
          <img *ngIf="participant?.profilePic; else noProfilPic" src="{{participant?.profilePic}}" alt="{{participant?.displayName}}"/>
          <ng-template #noProfilPic><img src="assets/img/defaultAvatar.jpg" alt="{{participant?.displayName}}"/></ng-template>
        </div>
      </div>
      <div class="tripDescription">{{trip.description}}</div>
    </section>
    <section class="rightContainer">
      <div class="buttonsRow">
        <button mat-flat-button class="addSpendingBtn" (click)="showAddSpendingBox()"><mat-icon>add</mat-icon></button>
        <button mat-flat-button class="showReportBtn" (click)="showReport()"><mat-icon>trending_up</mat-icon></button>
        <button mat-flat-button class="downloadReportBtn" (click)="downloadReport()"><mat-icon>archive</mat-icon></button>
      </div>
      <app-add-spending-box *ngIf="addSpendingBoxShowUp" [tripId]="tripId" class="addSpendingBox" [loggedUser$]="loggedUser$" [participants$]="participants$" (close)="hideAddSpendingBox()"></app-add-spending-box>
      <app-spendings-list *ngIf="spendings$ && participants$" class="spendings" [tripId]="tripId" [spendings$]="spendings$" [participants$]="participants$"></app-spendings-list>
    </section>
  </div>
</div>
